<div class="layout">
  <div class="header">
    <h2>Books</h2>
    <p-button (onClick)="createBook()">Create book</p-button>
  </div>

  <div class="book-list">
    <div *ngFor="let item of books" class="book-item">
      <book-card [book]="item"></book-card>
    </div>
    <!-- <div *ngFor="let book of books" class="book-card">
      <div class="info">
        <book-cover></book-cover>
        <p class="title">{{ book.title }}</p>
      </div>
      <div class="actions">
        <p-button class="delete" severity="danger">Delete</p-button>
        <p-button class="edit">Edit</p-button>
      </div>
    </div> -->
  </div>
</div>
