.book-card {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 16px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      margin-top: 15px;
      font-size: 28px;
      font-weight: 900;
      text-align: left;
      overflow-wrap: break-word;
      word-break: break-all;
    }
  }
}

.image-container {
  position: relative;
}
