p-password {
  > div.p-password {
    width: 100% !important;

    > input.p-password-input {
      width: 100% !important;
    }
  }
}

p-button {
  button {
    width: auto !important;
  }
}

p-select {
  width: 100%;
}

p-date-picker {
  span {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
