ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

  li {
    text-decoration: none;
    list-style-type: none;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}
