.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  width: 100%;
}

.menubar-left {
  flex-shrink: 0;
}

.end {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;

  .search-container {
    max-width: 300px;
    width: 100%;
  }

  .avatar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    cursor: pointer;
  }
}
