.table-header {
  .cover {
    width: 100px;
  }
}

:deep(td:first-child) {
  width: 100px;
  
  book-cover {
    display: block;
    width: 100px;
    height: 150px;
    flex-shrink: 0;
  }
}

.layout {
  width: 100%;

  .content {
    width: 100%;
  }
}

.tag-list {
  display: flex;
  gap: 5px;
}
