<div class="layout">
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="fields">
        <div *ngIf="form.controls.title as control" class="form-group">
          <label for="title">Title</label>
          <input
            id="title"
            pInputText
            [formControl]="control"
            class="form-control"
            type="text"
          />
        </div>
      </div>

      <div class="controls">
        <p-button [disabled]="form.invalid" type="submit">Create</p-button>
      </div>
    </form>
  </div>
</div>
