<div class="layout">
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="fields">
        <div *ngIf="form.controls.title as control" class="form-group">
          <label for="title">Title</label>
          <input
            id="title"
            pInputText
            [formControl]="control"
            [readonly]="isEditMode"
            class="form-control"
            type="text"
          />
        </div>

        <div
          *ngIf="form.controls.publishing_date as control"
          class="form-group"
        >
          <label for="publishing_date">Publishing Date</label>
          <p-date-picker
            [formControl]="control"
            [readonlyInput]="true"
            inputId="publishing_date"
          ></p-date-picker>
        </div>

        <div *ngIf="form.controls.description as control" class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            [formControl]="control"
            class="form-control"
            rows="4"
          ></textarea>
        </div>

        <div class="form-group">
          <label>Authors</label>
          <author-selection
            [selectedAuthors]="selectedAuthors"
            (selectedAuthorsChange)="onSelectedAuthorsChange($event)"
          ></author-selection>
        </div>

        <div class="from-group">
          <media-file-upload
            [uploadedFileId]="undefined"
            (fileUploaded)="onCoverUploaded($event)"
          ></media-file-upload>
        </div>
        <div class="cover">
          <book-cover [coverId]="coverId"></book-cover>
        </div>
      </div>

      <div class="controls">
        <p-button [disabled]="form.invalid" type="submit">
          {{ isEditMode ? 'Save' : 'Create' }}
        </p-button>
      </div>
    </form>
  </div>
</div>
