<div class="layout">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="formSubmit$.next()">
    <div class="fields">
      <div *ngIf="form.controls.name as control" class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          pInputText
          [formControl]="control"
          class="form-control"
          type="text"
        />
        <div
          *ngIf="control.invalid && control.dirty"
          class="validation-message"
        >
          <p>Invalid</p>
          <p *ngIf="control.getError('tagNameTaken') as error">TagName taken</p>
        </div>
      </div>
    </div>

    <div class="controls">
      <p-button class="save" type="submit">Create</p-button>
    </div>
  </form>
</div>
