.layout {
  padding: 1rem;
  min-width: 400px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control {
  width: 100%;
}

.validation-message {
  color: var(--red-500);
  font-size: 0.875rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.save {
  min-width: 100px;
}

.avatar {
  width: 300px;
  height: 300px;
}
