.header {
  display: flex;
  gap: 16px;
  align-items: center;

  h2 {
    font-size: 28px;
    font-weight: 900;
  }
}

.shelf-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
