<div class="layout">
  <form [formGroup]="form" autocomplete="off">
    <div *ngIf="form.controls.login as login" class="form-group">
      <label for="login">Login</label>
      <input
        id="login"
        pInputText
        [formControl]="login"
        class="form-control"
        type="text"
      />
      <div *ngIf="login.invalid && login.touched" class="validation-message">
        <p>Invalid</p>
      </div>
    </div>

    <div *ngIf="form.controls.email as email" class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        pInputText
        [formControl]="email"
        class="form-control"
        type="text"
      />
      <div *ngIf="email.invalid && email.touched" class="validation-message">
        <p>Invalid</p>
      </div>
    </div>

    <div *ngIf="form.controls.password as password" class="form-group">
      <label for="password">Password</label>
      <p-password
        inputId="password"
        [formControl]="password"
        class="form-control"
        type="text"
      />
      <div
        *ngIf="password.invalid && password.touched"
        class="validation-message"
      >
        <p>Invalid</p>
      </div>
    </div>
  </form>
</div>
