form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 25px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.avatar {
  width: 200px;
}
