.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.avatar-display {
  width: 150px;
  height: 150px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
