.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info {
  cursor: pointer;
  display: inline-block;
  
  .count {
    margin-left: 5px;
  }
}
