<div *ngIf="book" class="layout">
  <div class="content">
    <div class="left">
      <div class="book-preview">
        <div class="cover">
          <book-cover [coverId]="book.cover_id"></book-cover>
        </div>
      </div>
      <div class="actions">
        <book-page-actions [bookId]="book.id"></book-page-actions>
      </div>
    </div>
    <div class="right">
      <h2 class="title">{{ book.title }}</h2>
      <book-authors [authors]="book.authors"></book-authors>
      <book-shelved-statistics [bookId]="book.id"></book-shelved-statistics>
      <book-review-statistics [bookId]="book.id"></book-review-statistics>
      <p-button (onClick)="review()">Review</p-button>
      <book-reviews-display [bookId]="book.id"></book-reviews-display>
    </div>
  </div>
</div>
<div *ngIf="!book" class="layout-not-found"><p>Book Not Found</p></div>