.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left {
  .book-preview {
    .cover {
      width: 200px;
      height: 300px;
      flex-shrink: 0;
    }
  }

  .actions {
    margin-top: 16px;
  }
}

.right {
  font-size: 28px;
  font-weight: 900;
}
