.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left {
  .book-preview {
    .cover {
      width: 200px;
      height: 300px;
      flex-shrink: 0;
    }
  }

  .actions {
    margin-top: 16px;
  }
}

.right {
  font-size: 28px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shelf-info {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
}

.shelves-list {
  margin-top: 8px;

  ul {
    margin: 8px 0;
    padding-left: 20px;
  }

  li {
    margin: 4px 0;
  }
}
